<% layout("main") %>
<% block("header", 'Чат') %>

<% block("head", '<script src="/socket.io/socket.io.js"></script>' +
'<script src="/js/chat.js"></script>') %>

<div class="row">
	<div class="bl-50">
		<div id="chat_area">	
		</div>
		<form id="chatform" class="hidden">
			<input placeholder="Сообщение" type="text" id="mess_field" />
			<button id="add_message">Отправить</button>
		</form>

		<form id="loginform">
			<input placeholder="Имя" value="<%= name %>" type="text" id="username" />
			<button id="login_button">Войти в чат</button>
		</form>
	</div>
	<div class="bl-50">
		<div class="userlistwr">
			<h4>В чате:</h4>
			<div id="userlist">
				никого нет
			</div>
		</div>	
	</div>
</div>


