<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" href="/css/style.css">
	<%- blocks.head %>
</head>
<body>
	<header>
		<div class="content-wrapper">
			<div class="float-left">
				<p class="site-title"><a href="/">Наш сайт</a></p>
			</div>
			<div class="float-right">
				<%- partial("menu")%>
			</div>
		</div>
	</header>
	<div id="body">
		<section class="main-content">
			<h1><%= blocks.header %></h1>
			<%- body %>
		</section>
	</div>
	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>Все права защищены &copy; 2017</p>
			</div>
			<div class="float-right">
				<ul id="social">
					<li>
						<a href="/" class="sfacebook">Facebook</a>
						<a href="/" class="stwitter">Twitter</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>