<% layout("main") -%>
<% block("header", "Список пользователей"); %>

<section class="users_list">
	<% users.forEach(function(user){ %>
		<div class="user">
			<div><a href="/users/<%= user.name %>"><%= user.name %></a></div>
			<div>Зарегистрирован: <%= user.create %></div>
	
		</div>
	<% });%>
	
</section>