<% layout("main") -%>
<% block("header", "Пользователь"); %>

<section class="users_list">
	
	<div class="user">
		<h4><%= name %></h4>
		<div>Зарегистрирован: <%= create %></div>
	</div>
	
</section>