*{
	box-sizing: border-box;
}
html {
	background-color: #e2e2e2;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	border-top: solid 10px #000;
	color: #333;
	font-size: .85em;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
}
a:link,
a:visited,
a:active,
a:hover {
	color: #333;
	outline: none;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: underline;
}
a:hover {
	background-color: #c7d1d6;
}
header,
footer,
hgroup,
nav,
section {
	display: block;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.highlight {
	background-color: #93e140;
	padding-left: 5px;
	padding-right: 5px;
}
.clear-fix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
h1{
	color: #000;
	margin: 0 0 20px;
}
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	margin: 0 0 15px;
	padding-bottom: 0;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.1em;
}
h5,
h6 {
	font-size: 1em;
}
/* main layout
----------------------------------------------------------*/
.content-wrapper {
	margin: 0 auto;
	max-width: 960px;
}
#body {
	background-color: #efeeef;
	clear: both;
	padding-bottom: 35px;
}
.main-content {
	padding-left: 10px;
	padding-top: 30px;
	margin: 0 auto;
	max-width: 960px;
}
.main-content:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
footer {
	clear: both;
	background-color: #e2e2e2;
	font-size: .8em;
	height: 100px;
}
/* site title
----------------------------------------------------------*/
.site-title {
	color: #c8c8c8;
	fon
		t-family: Rockwell, Consolas, "Courier New", Courier, monospace;
	font-size: 2.3em;
	margin: 20px 0;
}
.site-title a,
.site-title a:hover,
.site-title a:active {
	background: none;
	color: #c8c8c8;
	outline: none;
	text-decoration: none;
}
/* login
----------------------------------------------------------*/
#login {
	display: block;
	font-size: .85em;
	margin: 20px 0 12px;
	text-align: right;
}
#login a {
	background-color: #d3dce0;
	margin-left: 10px;
	margin-right: 3px;
	padding: 2px 3px;
	text-decoration: none;
}
#login a.username {
	background: none;
	margin-left: 0px;
	text-decoration: underline;
}
#login ul {
	margin: 0;
}
#login li {
	display: inline;
	list-style: none;
}
/* menu
----------------------------------------------------------*/
ul#menu {
	font-size: 1.3em;
	font-weight: 600;
	margin: 0;
	text-align: right;
}
ul#menu li {
	display: inline;
	list-style: none;
	padding-left: 15px;
}
ul#menu li a {
	background: none;
	color: #999;
	text-decoration: none;
}
ul#menu li a:hover {
	color: #333;
	text-decoration: none;
}
/* page elements
----------------------------------------------------------*/
/* page titles */
hgroup.title {
	margin-bottom: 10px;
}
hgroup.title h1,
hgroup.title h2 {
	display: inline;
}
hgroup.title h2 {
	font-weight: normal;
	margin-left: 3px;
}
/* features */
section.feature {
	width: 300px;
	float: left;
	padding: 10px;
}
/* ordered list */
ol.round {
	list-style-type: none;
	padding-left: 0;
}
ol.round li {
	margin: 25px 0;
	padding-left: 45px;
}
/* content */
article {
	float: left;
	width: 70%;
}
aside {
	float: right;
	width: 25%;
}
aside ul {
	list-style: none;
	padding: 0;
}
aside ul li {
	padding: 2px 0 2px 20px;
}
.label {
	font-weight: 700;
}
/* login page */
#loginForm {
	border-right: solid 2px #c8c8c8;
	float: left;
	width: 45%;
}
#loginForm .validation-error {
	display: block;
	margin-left: 15px;
}
#socialLoginForm {
	margin-left: 40px;
	float: left;
	width: 50%;
}
/* contact */
.contact h3 {
	font-size: 1.2em;
}
.contact p {
	margin: 5px 0 0 10px;
}
.contact iframe {
	border: 1px solid #333;
	margin: 5px 0 0 10px;
}
/* forms */
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
fieldset legend {
	display: none;
}
fieldset ol {
	padding: 0;
	list-style: none;
}
fieldset ol li {
	padding-bottom: 5px;
}
fieldset label {
	display: block;
	font-size: 1.2em;
	font-weight: 600;
}
fieldset label.checkbox {
	display: inline;
}
fieldset input[type="text"],
fieldset input[type="password"] {
	border: 1px solid #e2e2e2;
	color: #333;
	font-size: 1.2em;
	margin: 5px 0 6px 0;
	padding: 5px;
	width: 300px;
}
fieldset input[type="text"]:focus,
fieldset input[type="password"]:focus {
	border: 1px solid #8cc84b;
}
fieldset input[type="submit"] {
	background-color: #d3dce0;
	border: 1px solid #787878;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: 600;
	padding: 7px;
}
/* ajax login/registration dialog */
.modal-popup {
	font-size: 0.7em;
}
.modal-popup input[type="text"],
.modal-popup input[type="password"] {
	width: 90%;
}
/* info and errors */
.message-info {
	border: 1px solid;
	clear: both;
	padding: 10px 20px;
}
.message-error {
	clear: both;
	color: #e80c4d;
	font-size: 1.1em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
.message-success {
	color: #7ac0da;
	font-size: 1.3em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
.error {
	color: #e80c4d;
}
/* styles for validation helpers */
.field-validation-error {
	color: #e80c4d;
	font-weight: bold;
}
.field-validation-valid {
	display: none;
}
input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
	border: 1px solid #e80c4d;
}
.validation-summary-errors {
	color: #e80c4d;
	font-weight: bold;
	font-size: 1.1em;
}
.validation-summary-valid {
	display: none;
}
ul#social li {
	display: inline;
	list-style: none;
}
ul#social li a {
	color: #999;
	text-decoration: none;
}
a.facebook,
a.twitter {
	display: block;
	float: left;
	height: 24px;
	padding-left: 17px;
	text-indent: -9999px;
	width: 16px;
}
/*******************/
#chat_area{
	background: #fff;
	overflow: auto;
	height: 200px;
	border: 1px solid #999;
	max-width: 500px;
	margin-bottom: 20px;
	padding: 10px;
}
.row::after{
	content: "";
	display: block;
	clear: both;
}
.row{
	margin: 0 -15px;
}
.bl-50{
	float: left;
	padding: 0 15px;
	width: 50%;
}
.uname{
	font-weight: bold;
}
.messtime{
	font-size: 10px;
}
.messwr{
	margin-bottom: 5px;
	padding: 4px;
	border: 1px solid #eee;
}
.hidden{
	display: none;
}